.navbar {
  margin-top: 10px;
}

.nav.navbar-nav {
  font-size: 15px;
}

#searchForm {
  display: none;
}

li > a.active {
  color: #f97924;
}

@media (min-width: 1000px) {
  #searchForm {
    display: block;
  }
}
