<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="login(loginForm.value)" novalidate>

    <!-- Username field -->
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <span class="warning-message"
            *ngIf="loginForm.controls.userName?.invalid &&
                   (loginForm.controls.userName?.touched || mouseoverLogin)">
        Required
      </span>
      <input (ngModel)="userName" name="userName" required
             id="userName" type="text" class="form-control" placeholder="User Name..." />
    </div>

    <!-- Password field -->
    <div class="form-group" >
      <label for="password">Password:</label>
      <span
        class="warning-message"
        *ngIf="loginForm.controls.password?.invalid &&
        (loginForm.controls.password?.touched || mouseoverLogin)">
        Required
      </span>
      <input (ngModel)="password" name="password" required
             id="password" type="password" class="form-control" placeholder="Password..." />
    </div>

    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </span>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>

  </form>
</div>
