.container {
  padding-left: 20px;
  padding-right: 20px;
}

.event-image {
  height: 100px;
}

.session-head {
  position: relative;
}

.session-head .title-text {
  font-size: 25px;
  margin-bottom: 15px;
}

.session-head .link-text {
  position: absolute;
  right: 15px;
  top: 13px;
}

.add-session {
  cursor: pointer;
}
