<div class="container">

  <!-- event logo -->
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">

  <!-- event header -->
  <div class="row">
    <div class="col-md-11">
      <h2>{{ event?.name | uppercase }} </h2>
    </div>
  </div>

  <!-- event details -->
  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{ event?.date | date:'shortDate' }}</div>
      <div><strong>Time:</strong> {{ event?.time }}</div>
      <div><strong>Price:</strong> {{ event?.price | currency:'USD':true }}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{ event?.location?.address }}<br />
        {{ event?.location?.city }}, {{ event?.location?.country }}
      </address>
    </div>
  </div>

  <hr />

  <!-- session area -->
  <div class="row">

    <!-- add session control -->
    <div class="col-md-12 session-head">
        <div class="title-text">Sessions</div>
        <div class="link-text">
          <a class="add-session" (click)="addSession()">Add Session</a>
        </div>
    </div>

    <!-- sorting buttons -->
    <div class="col-md-12 session-action-container">
      <span>Sort By: </span>
      <button class="btn btn-default"
              [class.active]="sortBy === 'name'"
              (click)="sortBy='name'">
        By Name
      </button>

      <button class="btn btn-default"
              [class.active]="sortBy === 'voters'"
              (click)="sortBy='voters'">
        By Votes
      </button>
    </div>

    <!-- filter buttons -->
    <div class="col-md-12 session-action-container">
      <span>Filter By: </span>
      <button class="btn btn-default"
              [class.active]="filterBy === 'all'"
              (click)="filterBy='all'">
        All
      </button>
      <button class="btn btn-default"
              [class.active]="filterBy === 'beginner'"
              (click)="filterBy = 'beginner'">
        Beginner
      </button>
      <button class="btn btn-default"
              [class.active]="filterBy === 'intermediate'"
              (click)="filterBy = 'intermediate'">
        Intermediate
      </button>
      <button class="btn btn-default"
              [class.active]="filterBy === 'advanced'"
              (click)="filterBy = 'advanced'">
        Advanced
      </button>
    </div>
  </div>

  <!-- session list -->
  <session-list
    *ngIf="!addMode"
    [sessions]="event?.sessions"
    [filterBy]="filterBy"
    [sortBy]="sortBy"
  ></session-list>

  <!-- create section form, hidden by default -->
  <create-session *ngIf="addMode"
                  (saveNewSession)="saveNewSession($event)"
                  (cancelAddSession)="cancelAddSession()">

  </create-session>
</div>
